/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --populaires-bg-color: #FFFFFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* section header */

.entete {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top:24px;
    width: 61.09px;
    height: 19px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    margin: 0px;
}

nav li {
    list-style-type: none;
    margin: 0px 0px 0px 30px;
    padding-top: 10px;
}

nav li :hover{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

.recherche {
    margin-top: 45px;
}

h1 {
    font-size: 22px;
    margin: 6px 0px;
}

h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

/* contenaire des filtres de recherche */
.recherche-container {
    margin: 20px 0px;
    display: flex;
}

#pins {
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
    border-radius: 10px 0px 0px 10px;
    width: 14px;
    height: 17px;
    padding: 14px;
}

#pins ::before{
    padding: 20px;
}

input {
    width: 150px;
    padding: 1Opx;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
}

input::placeholder {
    color: black;
    padding: 0px 6px;
}

button.search {
    padding: 12px 20px;
    background-color: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    font-weight: 500;
}

.search-icon {
    display: none;
    vertical-align: middle;
}

/* section filtre-container */
.filtres-container {
    margin-bottom: 30px;
}
.filter-container {
    padding: 0px;
    margin-left: 5px;
}

.filtre {
    margin-top: 10px;
    display: flex;
}

.filtre li {
    list-style-type: none;
    font-weight: 500;
    margin: 10px 8px;
    padding: 10px;
    border: #D9D9D9 2px solid;
    border-radius: 25px;
}

.filtre li:hover {
    background-color: #DEEBFF;
}

.filtre li i {
    margin: 0px 8px;
}

/* section info  */
.info {
    display: flex;
    margin: 16px 0px;
}

/* icon info */

.fa-info {
    border: 1px solid grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* info phrase */

.info p {
    margin: 3px 10px;
    padding: 0px;
}

/* ********------- section card --------********* */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

#afficher-plus {
    font-weight: 500;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
}

/***   Hebergements And Populaires   ***/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    font-weight: 700;
    margin: 0px;
    font-size: 22px;
}

/***   section hebergements   ***/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 30px;
}


.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
}

.hebergements-cards .card {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.hebergements-title {
    margin-bottom: 30px;
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements-cards .card .card-content {
    margin: 0px 6px 3px 6px;
}

.hebergements-cards .card .card-title {
    margin: 10px 0px;
}

.hebergements-cards .card .card-subtitle {
    margin: 5px 0px;
}

/***   section populaires   ***/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* ***   section activité   *** */
.activite {
    padding: 40px 30px 40px 20px;
}

.activite-title {
    margin: 10px 0px;
}


.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 5px;
    column-gap: 20px;
    margin-top: 20px;
}

.activites-cards .card {
    width: 297px;
    height: 425px;
    border-radius: 20px;
    padding: 0px;
}
.activites-cards .card-link{
    height: 425px; 
}
.activites-cards .card img {
    width: 297px;
    height: 370px;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards .card .card-content {
    padding: 2px;
}

.activites-cards .card-title {
    margin-left: 4px;
}

/* ***   Section footer   *** */
footer {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 40px 20px 0px 20px;
    margin-top: 40px;
    box-sizing: border-box;
}

footer .footer-sections {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-section nav {
    display: flex;
    flex-direction: column;
}

footer .footer-section .footer-title {
    font-weight: 700;
    margin-bottom: 10px;
}

footer .footer-section nav a {
    margin: 10px 0px;
}



/* *********************-------------le code ci-dessous correspond à la version responsive uniquement--------------********************* */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  
    /* ********* header ********** */
    .filter {
        margin: 0px;
    }

    .filter-container {
        margin: 0px;
    }

    .filtre {
        flex-direction: column;
    }

    .filtre h3 {
        margin: 10px;
    }

    .filtre li {
        font-weight: 500;
        padding: 10px;
        margin: 8px 10px 8px 0px;
    }

    .info span {
        font-size: 14px;
    }

/* ***   hebergement et populaires   *** */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        padding: 20px;
        box-sizing: border-box;
    }

    .hebergements-and-populaires .hebergements {
        padding: 20px;
    }
/* ***   section populaire   *** */
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .populaires-cards a {
        width: 31%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements {
        width: 100%;
        height: 50%;
    }

    .hebergements-cards {
         margin-left: 5px;
    }

    .hebergements-cards .card {
        width: 100%;
        height:95%;
        margin: 0px;
        padding: 3px;
    }

    .hebergements-cards .card-link {
        width: 100%;
        height: 185px;
    }

    .hebergements-cards .card img {
        width: 100%;
        height: 8vh;
        border-radius: 18px 18px 0px 0px;
        object-fit: cover;
    }

    .hebergements-cards .card .card-content {
        margin: 0px 4px 2px 3px;
        padding: 5px;
    }

    .hebergements-cards .card .card-title {
        margin: 6px 0px;
        font-size: 14px;
    }

    .hebergements-cards .card .card-subtitle {
        margin: 2px 0px;
        font-size: 13px;
    }

    #afficher-plus {
        margin-top:10px;
        padding: 0px;
    }

/* ***   Activité   *** */
    .activite {
        width: 100%;
        margin: 30px 0px;
        padding: 5px 0px;
    }

   .activites-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        row-gap: 5px;
        column-gap: 20px;
        margin: 20px 0px 50px 0px;
        padding: 10px 0px;
        }
    

    .activites-cards a {
        width:100%;
        height: 190px;
    }

    .activites-cards .card {
        width: 100%;
        height: 225px;
        border-radius: 20px;
        padding: 0px;

    }

    .activites-cards .card img {
        width: 100%;
        height:170px;
        border-radius: 20px 20px 0px 0px;
    }

    .activites-cards .card .card-content {
        padding: 2px;
    }

    .activites-cards .card .card-content h3{   
        margin:5px 0px 10px 5px;
    }

/* ***   Footer   *** */
    footer {
        padding: 20px 10px 0px 10px;
        margin-top: 20px;
    }

    footer .footer-sections {
        width: 100%;

    }
    footer .footer-section{
        margin: 5px;
    }
    footer .footer-section nav a {
        margin: 5px 0px;
    }
}

/*  *******  ici commence la version mobile / Small devices (phones, less than 768px) ********* */
@media (max-width: 767.98px) {

   
/* ***   header   *** */
    .main-container {
        max-width: 767.98px;
        padding: 0px;
    }

    header {
        padding: 15px;
    }

    .entete {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #logo {
        display: block;
        margin: 0 auto;
    }

    .menu {
        margin-top: 10px;
    }

    .menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .menu ul li {
        margin: 0px;
        padding-bottom: 10px;
        border-top: 2px solid transparent;
        width: 50%;
    }
    nav li:hover {
        border-bottom: #0065FC 2px solid;
    }

    .filter-container {
        padding: 0px;
        margin: 0px;
        box-sizing: content-box;
    }

    .title-recherche {
        padding: 10px 0px;
    }

/* ***   section recherche   *** */
    .recherche-container {
        width: 90%;
        margin: 10px 0;

    }

    #pins {
        width: 5%;
    }

    input {
        width: auto;
        padding: 8px 18px;
        border-right: none;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: inline-block;
    }

    button.search {
        width: 48px;
        height: 48px;
        padding: 11px;
        border-radius: 25%;
    }

    .filtre li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        padding: 7px;
        margin: 7px;
    }

    .fa-info {
        width: 35px;
        box-sizing: content-box;
    }

/* ***   section main   ***  */

    main {
        margin: 0px;
        padding: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 0px;
    }

    .hebergements-and-populaires :nth-child(1) {
        background-color: var(--populaires-bg-color-);
    }


/* ***   section populaire   ***  */
    .populaires {
        display: flex;
        flex-direction: column;
        height: auto;
        border-radius: 0px;
        margin-top: 10px;
    }

    .populaires-title {
        width: 90%;
        margin: 30px 0px 0px 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0px 20px 0px;

    }

    .populaires-cards .card-link {
        width: 90%;
        height: 42vw;
    }

    .populaires-cards .card {
        background-color: #FFFFFF;
        margin-top: 8px;
        padding: 3px;
    }

/* ***   le section hebergement   *** */

    .hebergements-and-populaires .hebergements{
        padding: 0px; 
    }
  
    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: 25px;
        column-gap: 0px;
        width: 90%;
        margin-left: 22px;
    }
    .hebergements-title {
        margin: 30px 10px 20px 20px;
    }

    .hebergements-cards .card-link {
        width: 100%;
        height: 100%;
    }

    .hebergements-cards .card-link .card {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    .hebergements-cards .card-link img {
        width:100%;
        height: 30vw;
        object-fit: cover;
    }
    #afficher-plus{
        margin-top: 20px;
    }
/* ***   le section activite   *** */

    .activite{
        margin:15px 0px 0px 0px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        
        margin: 15px 0px 20px 0px;
        box-sizing: border-box;
    }

    .activite-title {
        margin: 25px 10px 0px 25px;
    }

    .activites-cards a {
        width: 100%;
        height: 80%;
        margin-bottom: 15px;

    }

    .activites-cards .card {
        width: 85%;
        height: 80%;
        border-radius: 20px;
        margin-left: 30px;

    }

    .activites-cards .card img {
        width: 100%;
        height: 35vw;
        border-radius: 20px 20px 0px 0px;
    }

    #afficher-plus {
        margin-left: 15px;
    }
/* ***  section footer   *** */
    /* footer{
    overflow: auto;
    } */
    footer .footer-sections {
        flex-direction: column;
      
    }

    .footer-section {
        margin: 20px 10px;
    }
}