@media (max-width: 1024px) {


    .hebergements-and-populaires {
        flex-direction: column;
    }
   .hebergements-and-populaires section {
    padding: 10px;
    box-sizing: border-box;
}
    .hebergements-and-populaires .hebergements{
        padding: 3%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements {
        width: 85vw;
    }
    .hebergements-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .hebergements-cards .card{
        width: 24vw;
        height: 12vh;
        margin:5px;
    }
 
    .hebergements-cards .card img{
        width: 100%;
        height:7vh;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    .hebergements-cards .card-link{
        height: 195px;
    }
    
    .hebergements-cards a{
        width: 33%;
        height: 22vh;
        padding: 0%;
        margin:0;
    }
    .hebergements-cards .card .card-content{
        padding:0px 6px 6px 6px;
      
    }
    .hebergements-cards .card .card-title {
        margin: 8px 0px ;
        font-size: 14px;
    }
    .hebergements-cards .card .card-subtitle {
        margin:5px 0px;
        font-size: 13px;
    }
}